.modal-90w {

    .modal-header {
        background-color: rgba(239,241,245,1);
        
        .modal-title {
            color: rgba(207,35,56,1);
            font-weight: bold;
            font-size: larger;
            margin: auto;
        }

    }

    .modal-body {
        .info {
            margin-left: 2rem;
            color: rgba(33,37,41,1);
            font-size: 16px;
        }
    }
}